body {
    background-color: #fdf6e3;
    font-family: 'Helvetica', sans-serif;
}

.container {
    width: 75%;
    margin: 0 auto;
    padding: 25px;
    text-align: left;
}

h1 {
    color: #2e3436;
}

p {
    font-size: 1.1em;
    color: #657b83;
}
